{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Log
{% endblock %}

{% block body %}
    <div class="sidebar_pages">
        <div class="sidebar">
            <ul style="list-style-type: none; margin-top: 18px">
                <li>
                    <h4 style="color: white;">ThinkDev.</h4>
                </li>
                <li >
                    <a class="sidebar_links" href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a class="sidebar_links" href="{% url 'problem_log' %}">New Problem</a>
                </li>
                <li>
                    <a class="sidebar_links" href="{% url 'log' %}">Past Problems</a>
                </li>
                <li style="margin-top: 75.5vh;">
                    <a class="sidebar_links" href="{% url 'index' %}">Log Out</a>
                </li>
            </ul>
        </div>
        <div class="sidebar_page_second_col">
            <h4>Previously Saved Problems:</h4>
            <table>
                <tr>
                    <td>
                        
                    </td>
                    <td class="log_table_cell">
                        <b>Problem Title</b>
                    </td>
                    <td class="log_table_cell">
                        <b>Last Edited</b>
                    </td>
                </tr>
                {% for problem in problems %}
                    <tr>
                        <td style="width: 20px;">
                            {{forloop.counter}}.
                        </td>
                        <td name="{{problem.problem_title}}" style="padding-right: 20px;">
                            {{problem.problem_title}}
                        </td>
                        <td style="padding-right: 20px;">
                            {{problem.submit_time}}
                        </td>

                        <form action="{% url 'problem_log_edit' id_entry=problem.id %}" method="POST">
                        {% csrf_token %}
                            <td style="padding-right: 20px;">
                                <input style="border-radius: 5px; background-color:black; color: white; border: 2px solid black;" name="edit_button" type="submit" value="Edit">
                            </td>
                            <td style="padding-right: 20px;">
                                <input style="border-radius: 5px; background-color:black; color: white; border: 2px solid black;" name="delete_button" type="submit" value="Delete">
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>  
{% endblock %}


<!-- A textarea which allows you to write down certain techniques, features or processes which you 
 would like to get better at learning. The webapp can then begin to give you suggestions (what to learn etc, 
 what kinds of problems you should begin to start solving, 
 based on the problems you have submitted previously). -->
