{% extends "layout.html" %}

{% load static %}

{% block title %}
Problem Log
{% endblock %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <h4 style="margin-bottom: 15px;">Title of Problem</h4>
    <input style="width: 750px; margin-bottom: 15px; border-radius: 5px;" id="title_of_problem" name="title_of_problem"
        type="text" autofocus value="{{entry.problem_title}}">

    <h4 style="margin-bottom: 15px;">Description of Problem</h4>
    <textarea placeholder="Brief description of problem."
        style="field-sizing: content; resize: none; min-width: 750px; max-width: 750px; margin-bottom: 15px; border-radius: 5px;"
        id="problem_description" name="problem_description">{{entry.problem_description}}</textarea>

    <h4 style="margin-bottom: 15px;">Problem Summary</h4>
    <textarea placeholder="Step-by-step summary of problem."
        style="field-sizing: content; resize: none; min-width: 750px; max-width: 750px; margin-bottom: 15px; border-radius: 5px; min-height: 75px;"
        id="problem_summary" name="problem_summary">{{entry.problem_summary}}</textarea>

    <h4 style="margin-bottom: 15px;">Pseudocode</h4>
    <textarea placeholder="Start writing Pseudocode!"
        style="field-sizing: content; resize: none; min-width: 750px; max-width: 750px; margin-bottom: 15px; border-radius: 5px; min-height: 155px;"
        id="pseudocode" name="pseudocode">{{entry.pseudo_code}}</textarea>

    <h4 style="margin-bottom: 15px;">Source Code</h4>
    <textarea placeholder="Start writing source code!"
        style="field-sizing: content; resize: none; min-width: 750px; max-width: 750px; margin-bottom: 15px; border-radius: 5px; min-height: 155px;"
        id="sourcecode" name="sourcecode">{{entry.source_code}}</textarea>

    <div style="display: flex; justify-content: left; align-items: center; margin-top: 10px; margin-bottom: 2%;">
        <select
            style="margin-right: 10px; text-align: center; border-radius: 5px; height: 28px; background-color: black; color: white;"
            name="solved_dropdown">
            {% if entry.solved == "Solved (∩_∩)" %}
            <option selected value="Solved (∩_∩)">Solved (∩_∩)</option>
            <option value="Unsolved (✿◡‿◡)">Unsolved (✿◡‿◡)</option>
            {% else %}
            <option value="Solved (∩_∩)">Solved (∩_∩)</option>
            <option selected value="Unsolved (✿◡‿◡)">Unsolved (✿◡‿◡)</option>
            {% endif %}
        </select>
        <input style="border-radius: 5px; background-color: black; color: white; border: 2px solid black;"
            name="save_problem_button" type="submit" value="Save">
        {% if error %}
        <span style="color: red; margin-left: 10px;">{{error}}</span>
        {% endif %}
    </div>
</form>
{% endblock %}